
**/.DS_Store
.vscode/

__pycache__/
*.py[cod]

.ipynb_checkpoints/

dist/*
*.egg-info/

**/node_modules/
**/dist/
**/build/
**/static/

ipyauth-ext-folders-jupyterlab.code-workspace
ipyauth-ext-folders-notebook.code-workspace

./public/

video/

TODO.md
**/temp-*
**-orig.*
notebooks/*test.ipynb
notebooks/secrets.txt
